[Unit]
Description=ahmadfatayerji.com web

[Container]
Image=localhost/ahmadfatayerji-web:latest
ContainerName=ahmadfatayerji-web
PublishPort=127.0.0.1:3000:3000
Environment=NODE_ENV=production
Environment=NEXT_TELEMETRY_DISABLED=1
Environment=PORT=3000
Environment=QR_DATA_DIR=/app/data
EnvironmentFile=./admin.env
Volume=ahmadfatayerji-qr-data:/app/data:U

[Install]
WantedBy=default.target
